<div class="container" id="movies_index">
    <div class="br-form">
      <%= form_tag movies_path, method: :get do %>
            <%= text_field_tag :query,
              params[:query],
              class: "br-input",
              placeholder: "Encontre um filme"
            %>
            <%= submit_tag "Buscar", class: "br-button primary mini" %>
      <% end %>
    </div>



  <% @movies.each do |movie| %>
    <div class="movie-card">
      <img id="movie-card-poster" src="<%= "#{movie.poster}" %>" alt="<%= movie.titulo_no_brasil %> poster">
      <div id="movie-card-text">
        <h3 id="movie-card-title"><%= movie.titulo_no_brasil %></h3>
        <h5>(<%= movie.ano_de_producao %>)</h5>
        <p><%= movie.categoria %></p>
        <%= link_to "Detalhar", movie_path(movie), class: "br-button primary mini" %>
      </div>
    </div>
  <% end %>
  <div id="back-button">
    <%= link_to "Voltar", root_path, class: "br-button primary mini" %>
  </div>
</div>
