<div class="container" id="movies_index">
    <div class="br-input" id="movies-search">
      <form class="movie-search-form" action="/movies" accept-charset="UTF-8" method="get">
        <input type="text" name="query" id="query" value="" class="br-input" placeholder="Encontre uma obra" kl_vkbd_parsed="true">
        <input type="submit" name="commit" value="Buscar" class="br-button primary mini" data-disable-with="Buscar" kl_vkbd_parsed="true">
      </form>
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox" checked data-toggle="toggle" id="Longa" >
        Filmes
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" checked data-toggle="toggle" id="Jogo">
        Jogos
      </label>
    </div>


  <% x = @movies.sort_by { |movie| movie.ano_de_producao } %>
  <% x.reverse.each do |movie| %>
    <div class="movie-card">
      <img id="movie-card-poster" src="<%= "#{movie.poster}" %>" alt="<%= movie.titulo_no_brasil %> poster">
      <div id="movie-card-text">
        <h3 id="movie-card-title"><%= movie.titulo_no_brasil %></h3>
        <h5>(<%= movie.ano_de_producao %>)</h5>
        <p><%= movie.categoria %></p>
        <%= link_to "Detalhar", movie_path(movie), class: "br-button primary mini" %>
      </div>
    </div>
  <% end %>
  <div id="back-button">
    <%= link_to "Voltar", root_path, class: "br-button primary mini" %>
  </div>
</div>
