<div class="container" id="movies_index">
  <div class="movie-card-show">
    <img id="movie-card-show-poster" src="<%= "#{@movie.poster}" %>" alt="<%= @movie.titulo_no_brasil %> poster">
    <div id="movie-card-show-text">
      <h2><%= @movie.titulo_no_brasil %></h2>
      <h4>(<%= @movie.ano_de_producao %>)</h4>
      <p><%= @movie.categoria %></p>
      <div class="card" id="caixa-conteudo">
        <% if @movie.classificacao.include? "Livre" %>
          <h6><%= "CLASSIFICAÇÃO INDICATIVA: Livre" %></h6>
          <div id="caixa-descritor">
            <%= image_tag "16.jpg" %>
            <div id="descritor-text">
              <p><%= @movie.descritor_de_conteudo %></p>
            </div>
          </div>
        <% elsif @movie.classificacao.include? "10" %>
          <h6><%= "CLASSIFICAÇÃO INDICATIVA: 10 ANOS" %></h6>
          <div id="caixa-descritor">
            <%= image_tag "16.jpg" %>
            <div id="descritor-text">
              <p><%= @movie.descritor_de_conteudo %></p>
            </div>
          </div>
        <% elsif @movie.classificacao.include? "12" %>
          <h6><%= "CLASSIFICAÇÃO INDICATIVA: 12 ANOS" %></h6>
          <div id="caixa-descritor">
            <%= image_tag "16.jpg" %>
            <div id="descritor-text">
              <p><%= @movie.descritor_de_conteudo %></p>
            </div>
          </div>
        <% elsif @movie.classificacao.include? "14" %>
          <h6><%= "CLASSIFICAÇÃO INDICATIVA: 14 ANOS" %></h6>
          <div id="caixa-descritor">
            <%= image_tag "16.jpg" %>
            <div id="descritor-text">
              <p><%= @movie.descritor_de_conteudo %></p>
            </div>
          </div>
        <% elsif @movie.classificacao.include? "16" %>
          <h6><%= "CLASSIFICAÇÃO INDICATIVA: 16 ANOS" %></h6>
          <div id="caixa-descritor">
            <%= image_tag "16.jpg" %>
            <div id="descritor-text">
              <p><%= @movie.descritor_de_conteudo %></p>
            </div>
          </div>
        <% elsif @movie.classificacao.include? "18" %>
          <h6><%= "CLASSIFICAÇÃO INDICATIVA: 18 ANOS" %></h6>
          <div id="caixa-descritor">
            <%= image_tag "16.jpg" %>
            <div id="descritor-text">
              <p><%= @movie.descritor_de_conteudo %></p>
            </div>
          </div>
        <% end %>
      </div>
      <h5>Classificação Indicativa:</h5><p><%= @movie.classificacao %></p>
    </div>
  </div>
  <%= link_to "Voltar", root_path, class: "br-button primary mini" %>
</div>
