<div class="container">

  <%= form_tag games_path, method: :get do %>
    <div class="row ml-1">
        <%= text_field_tag :query,
          params[:query],
          class: "form-control-lg",
          placeholder: "Encontre um jogo"
        %>
        <%= submit_tag "Buscar", class: "btn-lg btn-primary" %>
    </div>
  <% end %>

  <% @games.each do |game| %>
    <div>
      <img src="<%= "#{game.poster}" %>" alt="">
      <p><%= game.titulo_no_brasil %> (<%= game.ano_de_producao %>)</p>
    </div>
  <% end %>

</div>
