<div class="container" id="movies_index">
  <%= form_tag games_path, method: :get do %>
    <div class="row ml-1">
        <%= text_field_tag :query,
          params[:query],
          class: "br-input",
          placeholder: "Encontre um jogo"
        %>
        <%= submit_tag "Buscar", class: "br-button primary mini" %>
    </div>
  <% end %>

  <% @games.each do |game| %>
    <div class="movie-card">
      <img id="movie-card-poster" src="<%= "#{game.poster}" %>" alt="<%= game.titulo_no_brasil %> poster">
      <div id="movie-card-text">
        <h3 id="movie-card-title"><%= game.titulo_no_brasil %></h3>
        <h5>(<%= game.ano_de_producao %>)</h5>
        <p><%= game.genero %></p>
        <%= link_to "Detalhar", game_path(game), class: "br-button primary mini" %>
      </div>
    </div>
  <% end %>
  <%= link_to "Voltar", root_path, class: "br-button primary mini" %>
</div>
