<!DOCTYPE html>
<html>
  <head>
    <title>Classind</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- Fonte Rawline-->
    <%# <link rel="stylesheet" href="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/fonts/rawline/css/rawline.css"> %>
    <!-- Fonte Raleway-->
    <%# <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900&amp;display=swap"> %>
    <!-- Design System de Governo-->

    <%# <link rel="stylesheet" href="../css/dsgov.css"> %>

    <!-- Fontawesome-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js"></script>

    <!-- Bootstrap Toogle -->

    <%# <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script> %>



    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <div class="br-header" compact>
      <div class="container-lg">
        <div class="flex-container">
          <div class="logo">
            <a href="https://www.gov.br">
              <img src="https://www.gov.br/++theme++padrao_govbr/img/govbr-colorido-b.png" alt="logo gov.br">
            </a>
          </div>
          <div class="actions">
            <div class="links">
              <button class="br-button" type="button" circle mini><i class="fas fa-ellipsis-v"></i>
              </button>
              <ul>
                <li class="title">Acesso Rápido</li>
                <li><a href="https://www.gov.br/pt-br/orgaos-do-governo">Órgãos do Governo</a></li>
                <li><a href="https://www.gov.br/acessoainformacao/pt-br">Acesso à Informação</a></li>
                <li><a href="https://www.justica.gov.br/seus-direitos/classificacao/legislacao">Legislação</a></li>
                <li><a href="https://www.gov.br/governodigital/pt-br/acessibilidade-digital">Acessibilidade</a></li>
                <li><a href="#" class="link-contraste">
                  <span class="fas fa-adjust"></span></li>
                </a>
              </ul>
            </div>
          </div>
          <div class="menu">
            <button class="br-button" type="button" circle mini><i class="fas fa-bars"></i>
            </button>
            <div class="title">
              <%= link_to "Classificação Indicativa", root_path, class: "title" %>
            </div>
            <div class="subtitle">Ministério da Justiça e Segurança Pública</div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <%= yield %>
    </div>
    <%= render "shared/footer" %>

    <%# <script src="../js/dsgov.js"></script> %>

  </body>
</html>
